Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is a structured collection of data that is organized and managed in a way that allows for efficient storage, retrieval, and manipulation of data.

SQL databases, also known as relational databases, are based on the relational data model. Data in SQL databases is organized into tables. In row and collumn format

NoSQL databases are non-relational databases that do not use the traditional table-based structure of SQL databases. Instead, they use a variety of data models such as audio, document, graph, or video, text file.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

#ANSWER:

DDL stands for Data Definition Language, which is a subset of SQL used to define and manage the structure of the database schema.

In [ ]:
    #1: CREATE: The CREATE statement is used to create a new object in the database, such as a table.
    #Example:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not EXISTS test2.test_table(c1 INT, c2 VARCHAR(50), c3 FLOAT, c4 INT, c5 VARCHAR(30))")
mydb.close()

    #2: DROP: The DROP statement is used to delete an object from the database. 

    #Example:

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("DROP TABLE test2.test_table")
mydb.close()

    #3 ALTER: The ALTER statement is used to modify the structure of an existing object in the database, such as adding or removing columns from a table.

    #Example:

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("ALTER TABLE test2.test_table ADD (phone VARCHAR(15))")
mydb.close()

    #4: TRUNCATE: The TRUNCATE statement is used to delete all data from a table, while keeping the structure intact. 

    #Example:

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
mycursor.execute("TRUNCATE TABLE test2.test_table")
mydb.close()

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

#ANSWER:

DML stands for Data Manipulation Language, which is a subset of SQL used to insert, update, and delete data in a database.

In [ ]:
#INSERT:

INSERT INTO employees (id, name, age, salary, department)
VALUES (1, 'John', 30, 50000, 'IT');

#UPDATE:

UPDATE employees
SET salary = 55000
WHERE name = 'John';

#DELETE

DELETE FROM employees
WHERE age > 40;

Q4: DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database.

#ANSWER:

DQL stands for Data Query Language, which is a subset of SQL used to retrieve data from a database.

In [ ]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()
#mycursor.execute("SELECT * FROM test2.test_table")
mycursor.execute("SELECT c1,c5 FROM test2.test_table")
for i in mycursor.fetchall():
    print(i)
mydb.close()

Q5: Explain Primary Key and Foreign Key.

#ANSWER

    A primary key is a column or combination of columns that uniquely identifies each record in a table.

    A foreign key is a column or combination of columns in one table that refers to the primary key of another table.

Q6: Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
#ANSWER:

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)

mycursor = mydb.cursor()

the cursor() method is used to create a cursor object, which is used to execute SQL queries and fetch results from the database. 

The execute() method is used to execute an SQL statement. It takes an SQL statement as a parameter and returns no values.

#Q7. Give the order of execution of SQL clauses in an SQL query.



#ANSWER:

FROM clause: This clause specifies the table(s) from which the data is retrieved.

JOIN clause: This clause is used to join multiple tables together.

WHERE clause: This clause is used to filter the rows based on a condition.

GROUP BY clause: This clause is used to group the rows based on one or more columns.

HAVING clause: This clause is used to filter the groups based on a condition.

SELECT clause: This clause is used to select the columns that will be included in the query results.

DISTINCT clause: This clause is used to remove duplicate rows from the query results.

ORDER BY clause: This clause is used to sort the rows in the query results based on one or more columns.

LIMIT clause: This clause is used to limit the number of rows that are returned in the query results.