Q1:

In [4]:
marks = int(input("enter the marks"))

if marks >90:
    print("Grade is A ")
elif marks >=80 and marks <=90:
    print("Grade is B")
elif marks >=60 and marks <=80:
    print("Grade is C")
elif marks <= 60:
    print("Grade is D")

enter the marks 34

Grade is D

Q2:

In [6]:
cost_price = int(input("enter the cost price of bike"))

if cost_price >100000:
    print("tax is 15%")
elif cost_price >50000 and cost_price <=100000:
    print("tax is 10%")
elif cost_price <= 50000:
    print("tax is 5%")

enter the cost price of bike80000
tax is 10%

Q3:

In [5]:
city = (input("enter the name of city: "))
if city == "Delhi":
    print("Monument is Red fort")
if city == "Aagra":
    print("Monument is Taj Mahal")
if city == "Jaipur":
    print("Monument is Jal Mahal")

enter the name of city:  Jaipur

Monument is Jal Mahal

Q4:

In [12]:
num = int(input("please enter the nymber"))
i = 0
ans=0
num1=num
for i in range(num):
    ans=num/3
    num=ans
    i=i+1
    if ans<=10:
        print("The given number ",num1," is devided by 3, ", i," Times, before reducing it <= 10")
        break

please enter the nymber 500

The given number  500  is devided by 3,  4  Times, before reducing it <= 10

Q5:

While loop:
    
    We use while loop when we want to run a loop till a perticular condition stays True, once the given condition turn False the loop will discontinue. 
    
    In while loop we need to take a counter to run a loop. as mention "a" in bello ex. program.

In [16]:
a=0

while a<=10:
    print(a)
    a=a+1

0
1
2
3
4
5
6
7
8
9
10

Q6:

This is not done in the calss, need to cover this topic in class

Q7:

In [18]:
a=10

while a>0:
    print(a)
    a=a-1

10
9
8
7
6
5
4
3
2
1