Q1:

In [1]:
sum1 = 0
prod = 1

for i in range (1 , 11):
    sum1 = sum1 + i
    prod = prod * i
print(sum1)
print(prod)

55
3628800

In [3]:
sum1 = 0
prod = 1
a = 10
while a > 0:
    sum1 = sum1 + a
    prod = prod * a
    a = a - 1
print(sum1)
print(prod)

55
3628800

In [4]:
sum1 = 0
prod = 1
a = 1
while a <= 10:
    sum1 = sum1 + a
    prod = prod * a
    a = a + 1
print(sum1)
print(prod)

55
3628800

Q2:

In [7]:
total_bill=0
unit = 310
f100=0
n100=0
n100_1=0
a=0
b=0
c=0
d= 0

for i in range(unit):
    if unit <= 100:
        total_bill = unit * 4.5
        
    elif unit <= 200:
        for i in range(unit):
            if i <=100:
                a = i * 4.5
                f100 = f100 + a
                continue
            else:
                b=i * 6
                n100 = n100 + b
            break
        total_bill = f100 + n100
        break
            
    elif unit <= 300:
        for i in range(unit):
            if i <=100:
                a = i * 4.5
                f100 = f100 + a
                continue
            elif i <= 200:
                b=i * 6
                n100 = n100 + b
                continue
            else:
                c = i * 10
                n100_1 = n100_1 + c
                break
        total_bill = f100 + n100 + n100_1
        break
    elif unit > 300:
        for i in range(unit):
            if i <=100:
                a = i * 4.5
                f100 = f100 + a
                continue
            elif i <= 200:
                b=i * 6
                n100 = n100 + b
                continue
            elif i <= 300:
                c = i * 10
                n100_1 = n100_1 + c
                continue
            else:
                d = i * 20
                n100_2 = d + i
                break
        total_bill = f100 + n100 + n100_1 + n100_2
        break
    
    
print("Total bill: ",total_bill)

Total bill:  369846.0

In [24]:
unit = int(input("Enter used electricity units: "))
total_bill=0
f100=0
if unit <= 100:
    f100 = unit*4.5
    total_bill = f100
elif unit <= 200:
    unit100 = 100
    f100 = unit100 * 4.5
    upto_200 = unit - 100
    bill1 = upto_200 * 6
    total_bill = f100 + bill1
    
elif unit <= 300:
    unit100 = 100
    f100 = unit100 * 4.5
    upto_200 = 100
    bill1 = upto_200 * 6
    upto_300 = unit - 200
    bill2 = upto_300 * 10
    total_bill = f100 + bill1 + bill2

else:
    unit100 = 100
    f100 = unit100 * 4.5
    upto_200 = 100
    bill1 = upto_200 * 6
    upto_300 = 100
    bill2 = upto_300 * 10
    above_300 = unit - 300 
    bill3 = above_300 * 20
    total_bill = f100 + bill1 + bill2 + bill3
    
print("Total bill to pay: ",total_bill)

Enter used electricity units:  310

Total bill to pay:  2250.0

In [25]:
unit = int(input("Enter used electricity units: "))
total_bill=0
f100=0
if unit <= 100:
    f100 = unit*4.5
    total_bill = f100
elif unit <= 200:
    #unit100 = 100
    f100 = 100 * 4.5
    upto_200 = unit - 100
    bill1 = upto_200 * 6
    total_bill = f100 + bill1
    
elif unit <= 300:
    #unit100 = 100
    f100 = 100 * 4.5
    #upto_200 = 100
    bill1 = 100 * 6
    upto_300 = unit - 200
    bill2 = upto_300 * 10
    total_bill = f100 + bill1 + bill2

else:
    #unit100 = 100
    f100 = 100 * 4.5
    #upto_200 = 100
    bill1 = 100 * 6
    #upto_300 = 100
    bill2 = 100 * 10
    above_300 = unit - 300 
    bill3 = above_300 * 20
    total_bill = f100 + bill1 + bill2 + bill3
    
print("Total bill to pay: ",total_bill)

Enter used electricity units:  310

Total bill to pay:  2250.0

Q:4

By usimg for loop

In [50]:
l1= list(range(1,101))
cube = 0
l_cube = []
sortedlist=[]

for i in l1:
    l_cube.append(i ** 3)
for j in l_cube:
    if j % 5 == 0 or j % 4 == 0:
        sortedlist.append(j)
print("List of numbers of cube which are devisibal by 4 or 5: ", sortedlist)

List of numbers of cube which are devisibal by 4 or 5:  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [51]:
len(sortedlist)

60

by using while loop

In [58]:
l1= list(range(1,101))
cube = 0
l_cube = []
sortedlist=[]
n=1
i=0
    
    l_cube.append(n ** 3)
    if l_cube[i] % 4 == 0 or l_cube[i] % 5 == 0:
        sortedlist.append(l_cube[i])
    n=n+1
    i=i+1
print("List of numbers of cube which are devisibal by 4 or 5: ", sortedlist)

List of numbers of cube which are devisibal by 4 or 5:  [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

Q5:

In [39]:
s = "I want to become a data scientist"

v = ["a","e","i","o","u","A","E","I","O","U"]
s_v=[]
count_v = 0

for i in range(len(s)):
    if s[i] in v:
        s_v.append(s[i])
        count_v = count_v + 1
print("List of voweles present in string: ",s_v)
print("Number of voweles in given string: ",count_v)

List of voweles present in string:  ['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
Number of voweles in given string:  12