In [14]:
num = 11
while num>0:
    num=num-1
    print(num)

10
9
8
7
6
5
4
3
2
1
0

In [2]:
add= 0
prod = 1
for i in range(1,11):
    add=add+i
    prod=prod*i
    
print(add)
print(prod)

55
3628800

In [4]:
add=0
prod=1
a=10
while a>0:
    add = add +a
    prod = prod * a
    a = a - 1
print (add)
print (prod)

55
3628800

In [5]:
add=0
prod=1
a=1
while a<=10:
    add = add +a
    prod = prod * a
    a = a + 1
print (add)
print (prod)

55
3628800

In [ ]:
units =int(input("enter used units"))

In [2]:
s = "I want to become a data scientist"
v = ["a","e","i","o","u","A","E","I","O","U"]
s_v=[]
count_v = 0
for i in range(len(s)):
    if s[i] in v:
        s_v.append(s[i])
        count_v=count_v+1
print("list of vowels prsent in string",s_v)
print("number of vowels in given string",count_v)

list of vowels prsent in string ['I', 'a', 'o', 'e', 'o', 'e', 'a', 'a', 'a', 'i', 'e', 'i']
number of vowels in given string 12

In [4]:
l1 = list(range(1,101))
cube = 0
l_cube=[]
sortedlist =[]
for i in l1:
    l_cube.append(i**3)
for j in l_cube:
    if j%4 == 0 or j%5 == 0:
        sortedlist.append(j)
print("cube in 1to 100 numbers which is divisible by 4 0r 5:   ",sortedlist)

cube in 1to 100 numbers which is divisible by 4 0r 5:    [8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

In [1]:
 
cube = 0
l_cube=[]
sortedlist =[]
n = 1
i = 0
while n <= 100:
    l_cube.append(i**3)
    if l_cube[i] % 4 == 0 or l_cube[i] % 5 == 0:
        sortedlist.append(l_cube[i])
    n = n+1
    i = i+1
print("cube in 1to 100 numbers which is divisible by 4 0r 5:   ",sortedlist)

cube in 1to 100 numbers which is divisible by 4 0r 5:    [0, 8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192]